<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dropbox03</title>
</head>
<body>
    <p><a asp-controller="MyLibrary" asp-action="AddBook">
            Book Titles</a></p>
    <h3>All Books in My Library List</h3>
    <ol>
        @{
            foreach (string book in ViewData["Books"] as List<string>)
            {
                <li>@book</li>
            }
        }
    </ol>
</body>
</html>
